header {
  width: 100%;
  background-color: #000;
  color: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Inter", sans-serif;
}

/*  Contenedores */
.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

/*  Logo */

.logo {
  height: 60px;
  width: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

@keyframes pulsePink {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 #ff69b4);
  }
  50% {
    transform: scale(1.08);
    filter: drop-shadow(0 0 12px #ff69b4);
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 #ff69b4);
  }
}

.logo:hover {
  animation: pulsePink 0.8s ease-in-out;
}

/*  Bot贸n base */
header button {
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

/*  Bot贸n MANGAS */
.manga-btn {
  color: #FF1493;
  padding: 0.4rem 2rem 0.4rem 2rem;
}

.manga-btn:hover {
  background-color: #FF1493;
  color: #000;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
}

/*  Bot贸n LOG IN */
.login-btn {
  color: #8A2BE2;
}

.login-btn:hover {
  background-color: #8A2BE2;
  color: #000;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
}

/*  Bot贸n REGISTRO */
.register-btn {
  color: #E0E0E0;
  margin-left: 0.6rem;
  padding: 0.4rem 2rem 0.4rem 2rem;
}

.register-btn:hover {
  background-color: #F5B11B;
  color: #000;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
}
